
@media (min-width: 1012px)
.p-responsive 
    padding-right: 16px !important
    padding-left: 16px !important

@media (min-width: 544px)
.p-responsive 
    padding-right: 40px !important
    padding-left: 40px !important

.p-responsive 
    padding-right: 16px !important
    padding-left: 16px !important

.width-full 
    width: 100% !important

.container-xl 
    max-width: 1280px
    margin-right: auto
    margin-left: auto

.list-style-none
    list-style: none

.mr-3
    margin:10px

.position-relative
    width:80%
    border-top: 2px solid rgb(219, 207, 207)
    text-align: center
    word-wrap: break-word
    padding:20px
    margin: auto
    margin-top: 40px




