$line-color: #d0d7de
.stars_container
    width: 100%
    padding-left: 20px
    .stars_div
        max-width: 885px
        margin-left: 25px
        padding: 22px 0
        width: 100%
        
        border-bottom: 1px solid $line-color

        .stars_repository
            color: #2a65d1
            font-size: 18px
        .stars_repository_detail
            font: size 14px
            padding: 5px 0px
            margin: 6px 0px
        .stars_sub
            line-height: 20px
            margin-right: 10px
        .repo_txt
            font-family: "Noto Sans KR",sans-serif
            font-size: 16px
            color: #4f6c9c
            font-weight: 400
        .repo_star_div
            margin-right: 10px
        .repo_down_div
            margin-right: 10px
        .repo_up_div
            margin-right: 10px
        .repo_update_div

.star_btn
    border: 1px solid #d0d7de
    border-radius: 7px
    font-size: 12px
    font-weight: 600
    float: right
    padding: 5px 5px
    margin-right: 2%
    display: inline
    margin-top: 14px
    .fa-regular,.fa-star
        color: #57606a
.starred_btn
    border: 1px solid #d0d7de
    border-radius: 7px
    font-size: 12px
    font-weight: 600
    float: right
    padding: 5px 6px
    margin-right: 2%
    display: inline
    margin-top: 14px
    .fa-solid,.fa-star
        color: #eac54f

