<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggit.db.mapper.FollowMapper">
    <select id="follow"  resultType="com.ggit.vo.FollowVo">
        SELECT * FROM follow;
    </select>

    <select id="selectfollowlist" resultType="com.ggit.vo.MemberVo">
        SELECT member.nick as nick, (select count(follow.idx) from follow where follower=${idx} and member.idx= follow.member) as count
        FROM member,follow
        WHERE follow.follower=(select idx from member where nick=#{nick}) and member.idx=follow.member;
    </select>
    
  

    <select id="selectfollowerlist" resultType="com.ggit.vo.MemberVo">
       SELECT member.nick as nick, (select count(follow.idx) from follow where follower=${idx} and member.idx= follow.member) as count
        FROM member,follow
        WHERE follow.follower=member.idx and (select idx from member where nick=#{nick})= follow.member;
    </select>

    <insert id="insertFollow">
        INSERT INTO follow(member,follower) VALUES((select member.idx from member where member.nick=#{nick}),${idx})
    </insert>

    <select id="selectfollowcount" resultType="int">
        SELECT count(idx) FROM follow  WHERE follower=${idx} and (select member.idx from member where member.nick=#{nick}) = member;
    </select>

    <delete id="deletefollowlist">
        DELETE FROM follow WHERE follower=${idx} and member=(select member.idx from member where member.nick=#{nick})
    </delete>

    <delete id="deletefollowerlist">
        DELETE FROM follow WHERE member=${idx} and follower=(select member.idx from member where member.nick=#{nick})
    </delete>
</mapper>