<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggit.db.mapper.FollowMapper">
    <select id="follow"  resultType="com.ggit.vo.FollowVo">
        SELECT * FROM follow;
    </select>

    <select id="selectfollowlist" resultType="com.ggit.vo.MemberVo">
        SELECT member.nick as nick
        FROM member,follow
        WHERE member.idx = follow.follower and follow.member=(select member.idx from member where member.nick=#{nick})
    </select>

    <select id="selectfollowinglist" resultType="com.ggit.vo.MemberVo">
        SELECT member.nick as nick 
        FROM member,follow 
        WHERE follow.member = member.idx and follow.follower=(SELECT member.idx from member where member.nick=#{nick})
    </select>

    <insert id="insertFollow">
        INSERT INTO follow(member,follower) VALUES((select member.idx from member where member.nick=#{nick}),${idx})
    </insert>

    <select id="selectfollowcount" resultType="int">
        SELECT count(idx) FROM follow  WHERE follower=${idx} and (select member.idx from member where member.nick=#{nick}) = member;
    </select>

    <delete id="deletefollowlist">
        DELETE FROM follow WHERE follower=${idx} and member=(select member.idx from member where member.nick=#{nick})
    </delete>
</mapper>