<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggit.db.mapper.MemberMapper">
    <select id="member" resultType="com.ggit.vo.MemberVo">
        SELECT * FROM member;
    </select>
    <select id="memberByemailPw" resultType="com.ggit.vo.MemberVo">
        SELECT * FROM member where email = #{email} and pw = #{pw};
    </select>
    <select id="memberByNick" resultType="com.ggit.vo.MemberVo">
        SELECT * FROM member where nick = #{nick};
    </select>

    <select id="hasNick" resultType="int">
        select count(idx) from member where nick = #{nick}
    </select>
    <select id="nickFromIdx" resultType="string">
        select nick from member where idx = ${idx}
    </select>

    <select id="imgFromIdx" resultType="string">
        select img from member where idx =  ${idx}
    </select>
    <select id="imgFromNick" resultType="string">
        select img from member where nick =  #{nick}
    </select>

    <insert id="signupMember">
        insert into member(idx, nick, email, pw, auth, date) values(idx, #{nick}, #{email}, #{pw}, 0 , sysdate());
    </insert>

</mapper>