<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggit.db.mapper.MemberMapper">
    <select id="member" resultType="com.ggit.vo.MemberVo">
        SELECT member.idx, member.nick,member.email,member.pw,member.auth,member.date,
        member.img,member.con,member.url,member.company,member.location  
        FROM member;
    </select>
    <select id="memberByemailPw" resultType="com.ggit.vo.MemberVo">
        SELECT member.idx, member.nick,member.email,member.pw,member.auth,member.date,
        member.img,member.con,member.url,member.company,member.location 
        FROM member where email = #{email} and pw = #{pw};
    </select>

    <select id="memberByNick" resultType="com.ggit.vo.MemberVo">
        <!-- 프로필 띄울때 씀 -->
        SELECT member.idx, member.nick,member.email,member.pw,member.auth,member.date,
        member.img,member.con,member.url,member.company,member.location,
        (select count(idx) from follow where member=member.idx) as followers,
        (select count(idx) from follow where followers=member.idx) as following
        FROM member where nick = #{nick};
    </select>

    <select id="hasNick" resultType="int">
        select count(idx) from member where lower(nick) = lower(#{nick})
    </select>
    <select id="nickFromIdx" resultType="string">
        select nick from member where idx = ${idx}
    </select>

    <select id="imgFromIdx" resultType="string">
        select img from member where idx =  ${idx}
    </select>
    <select id="imgFromNick" resultType="string">
        select img from member where nick =  #{nick}
    </select>

    <insert id="signupMember">
        insert into member(idx, nick, email, pw, auth, date) values(idx, #{nick}, #{email}, #{pw}, 0 , sysdate());
    </insert>

    <update id="saveProfile">

        <!-- 프로필 성정 저장 -->
        update member set nick = #{nick},con= #{con},url= #{url},company= #{company},location = #{location} where idx= ${idx}
    </update>
    <update id="saveProfileImg">

        <!-- 프로필 설정 저장 -->
        update member set nick = #{nick},con= #{con},url= #{url},company= #{company},location = #{location} where idx= #{idx}
    </update>

</mapper>