<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggit.db.mapper.OverViewMapper">
    <select id="getContributionData" resultType="com.ggit.vo.OverViewVo">
        select date_format(s1.date, '%Y-%m-%d')as date, count(*) as count
        from(
            SELECT push.token, push.member, push.repo, push.message, push.date, push.branch
            FROM push as push, (SELECT * FROM repo WHERE owner=#{idx} and public=1 ) as repo         
            WHERE repo.idx = push.repo
        ) as s1
        group by date_format(push.date, '%Y-%m-%d') order by date;
    </select>
    <select id="getUserIdx" resultType="string">
        SELECT idx FROM member WHERE nick=#{nick}
    </select>
</mapper>