<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggit.mappers.PullreqMapper">
    <select id="pullreq"  resultType="com.ggit.vo.PullreqVo">
        SELECT * FROM pullreq;
    </select>
    <select id="pullreq_select" resultType="com.ggit.vo.PullreqVo">
        select distinct pullreq.*
        FROM pullreq
        where pullreq.repo = #{idx} and pullreq.member not in(select member from repomem where repo = #{idx});
    </select>
    <select id="pullreq_select_mem" resultType="com.ggit.vo.PullreqVo">
        SELECT pullreq.*
        FROM pullreq, (SELECT member FROM repomem WHERE repo = #{idx}) as repomem
        WHERE pullreq.repo = #{idx} and repomem.member = pullreq.member
        ORDER BY date desc;
    </select>
    <select id="repoInMem" resultType="com.ggit.vo.RepomemVo">
        select *
        from ggitdb.repomem
        where repo = #{repo_idx} and member = #{u_idx};
    </select>
    <insert id="pullrequest">
        insert into pullreq(repo, member, message, token) values(#{repo_idx}, #{u_idx}, #{message}, #{token});
    </insert>
    <select id="getLastMainToken" resultType="String">
        SELECT token
        FROM push
        WHERE repo=#{repo_idx} and branch = 0
        order by date desc;
    </select>
    <select id="merge_main_push_count" resultType="int">
        SELECT count(*) as main_mush_count
        FROM push
        WHERE repo=#{repo_idx} and branch = 0;
    </select>
</mapper>
