<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggit.db.mapper.PullreqMapper">
    <select id="pullreq"  resultType="com.ggit.vo.PullreqVo">
        SELECT * FROM pullreq;
    </select>
    <select id="pullreq_select" resultType="com.ggit.vo.PullreqVo">
        select distinct pullreq.*
        FROM pullreq
        where pullreq.repo = #{idx} and pullreq.member not in(select member from repomem where repo = #{idx});
    </select>
    <select id="pullreq_select_mem" resultType="com.ggit.vo.PullreqVo">
        select pullreq.*
        FROM pullreq, (select member from repomem where repo = #{idx}) as repomem
        where pullreq.repo = #{idx} and repomem.member = pullreq.member;
    </select>
    <select id="repoInMem" resultType="com.ggit.vo.RepomemVo">
        select *
        from ggitdb.repomem
        where repo = #{repo_idx} and member = #{u_idx};
    </select>
    <insert id="pullrequest">
        insert into pullreq values()
    </insert>
</mapper>
