<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggit.db.mapper.PushMapper">
    <insert id="push">
        insert into push(token,member,repo,message,branch,before_token) value(#{token},${member},${repo},#{message},${branch},#{before_token})
    </insert>

    <update id="delsel">
        update push set selected = 0
        where repo=(select idx from repo where name=#{repo} )and branch=${member} 
    </update>
    <update id="insel">
         update push set selected = 1
        where token = #{token}
    </update>

</mapper>