<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggit.db.mapper.RepoMapper">
    <select id="repo" resultType="com.ggit.vo.RepoVo">
        SELECT * FROM repo;
    </select>
    <!-- member,repomem,repo 세개 모두다 검색 -->
    <!-- SELECT repo.idx as repo_idx,repo.name as repo_name,repo.createDate as repo_crateDate
            ,repo.public as repo_publ,repo.owner as repo_owner,repo.fork as repo_fork,
            repomem.idx as repomem_idx,repomem.repo as repomem_repo,repomem.member as repomem_member,
            member.idx as member_idx,member.nick as member_nick,member.email as member_email,
            member.pw as member_pw, member.img as member_img,member.auth as member_auth,member.date as member_date
            FROM repo,repomem,member where repomem.repo=repo.idx and repo.owner=member.idx and repomem.member=${member}; -->
    <select id="selectRepositories" resultType="com.ggit.vo.RepositoriesVO">
        SELECT repo.idx as repo_idx,repo.name as repo_name,repo.createDate as repo_crateDate
            ,repo.public as repo_publ,repo.owner as repo_owner,repo.fork as repo_fork,
            repomem.idx as repomem_idx,repomem.repo as repomem_repo,repomem.member as repomem_member,repomem.sort as repomem_sort,
            member.idx as member_idx,member.nick as member_nick
            FROM repo,repomem,member where repomem.repo=repo.idx and repo.owner=member.idx and repomem.member=(select idx from member where nick = #{nick})
            ORDER BY repomem.sort DESC
    </select>

    <select id="repoIdxByNickName" resultType="int">
     select repo.idx from repo where repo.name=#{reponame} and owner=(select member.idx from member where member.nick =#{nick})
    </select>
    <select id="clone" resultType="com.ggit.vo.RepositoriesVO">
     select repo.idx as repo_idx ,push.token as push_token from repo , push where repo.clone=#{clone} and repo.idx = push.repo ORDER BY push.date DESC LIMIT 1
    </select>

    <select id="selectRepositorycode" resultType="com.ggit.vo.RepositoriesVO">
        SELECT push.member as push_member, push.message as push_message,
        push.token as push_token, push.date as push_date, push.repo as push_repo,
        member.nick as member_nick,(select count(push.token) from push where repo = ${repoIdx}) as commits
        FROM push, member
        WHERE member.idx = push.member and push.repo = ${repoIdx}
		ORDER BY push.date DESC
        LIMIT 1
        <!-- 최근 한 값만 -->

    </select>


    <select id="selectRepositorycontributors" resultType="com.ggit.vo.RepositoriesVO">
        SELECT member.img as member_img, member.nick as member_nick
        FROM member, repomem
        WHERE member.idx = repomem.member and repomem.repo =  ${repoIdx};
    </select>

    <select id="selectRepositorystar" resultType="com.ggit.vo.RepositoriesVO">
        SELECT star.repo as star_repo, star.member as star_member
        FROM star
        WHERE star.repo = ${repoIdx};        
    </select>

    <select id="selectRepositorycount" resultType="int">
        SELECT count(repomem.idx)
        FROM repomem 
        WHERE repomem.member=(select member.idx from member where member.nick =#{nick});
       
    </select>

    <select id="selectRepositorystarcount" resultType="int">
        SELECT count(star.member)
        FROM star
        WHERE star.member = (select member.idx from member where member.nick=#{nick})
    </select>


</mapper>