<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggit.mappers.SettingMapper">
    <select id="setting_check_pw"  resultType="com.ggit.vo.MemberVo">
        select * from member where idx = #{idx} and pw = #{pw}
    </select>
    <delete id="user_del">
        delete from member where idx = #{idx};
    </delete>
    <update id="user_pw_update">
        update member set pw=#{pw} where idx = #{idx}
    </update>
</mapper>
