<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggit.db.mapper.StarMapper">
    <select id="star"  resultType="com.ggit.vo.StarVo">
        SELECT * FROM star;
    </select>

    <select id="selectStarlist"  resultType="com.ggit.vo.StarVo">
        SELECT (select member.nick as repo_owner from member where repo.owner=member.idx ) as repo_owner,
        member.nick as member_nick,repo.name as repo_name,(SELECT TIMESTAMPDIFF(DAY, push.date, CURDATE()) from push where push.repo = repo.idx limit 1) as push_date,
        (select count(star.repo)from star where star.repo=repo.idx) as star_count
        FROM member,repo, star
        WHERE member.idx = star.member and star.repo = repo.idx and  member.nick=#{nick};
    </select>
   
    
   
</mapper>
