.download_templeate
    width: 100%
    .download_container1

        background-color: #f4f5f7
        height: 500px
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        .download_container1_left
            width: 360px
            height: 270px
            .btn_download_ggitsource
                margin: 20px auto
                border-radius: 7px
                background-color: #2da44e
                border: 1px solid #2da44e
                color: white
                height: 30px
                font-size: 16px
                padding: 6px 14px 25px 14px

        .download_container1_right
            height: 290px
            .img1
                width: 280px
