$line-color: #d0d7de
.search_container
    width: 100%
    display: flex
    justify-content: center
    .search_left_container

        width: 280px
        height: 700px
        padding-right: 30px
        padding-left: 15px
        .search_left_ul
            margin-top: 55px
            .search_left_li
                margin: 7px 0px
                padding: 0px 5px
            .search_left_span
                width: 100%
                padding: 6px 5px
                border-radius: 5px
            .search_left_li1
                border-left: 4.5px solid var(--li1)
                .search_left_span1
                    background: var(--span1)
            .search_left_li2
                border-left: 4.5px solid var(--li2)
                .search_left_span2
                    background: var(--span2)
            .search_left_li3
                border-left: 4.5px solid var(--li3)
                .search_left_span3
                    background: var(--span3)
    .search_right_container

        max-width: 800px
        width: 100%
        padding: 55px 10px

        .con_container
            width: 100%
            min-height: 900px

            .repo_div
                width: 100%
                border-top: 1px solid $line-color
                padding: 20px 20px
                display: block
                &:hover
                    background-color: rgb(246, 248, 250,0.6 )
                .repo_name_div
                    width: 100%

                    .repo_name
                        font-family: 'Noto Sans KR', sans-serif
                        font-size: 16px
                    .repository_public
                        display: inline
                        border-radius: 11px
                        padding: 1px 7px 4px 7px
                        font-size: 14px
                        margin-left: 5px
                        border: 1px solid $line-color
                    .repo_date_div
                        float: right
                        font-size: 15px
                .repo_description_div
                    margin-top: 7px
                    width: 100%
                    font-size: 14px
                    max-height: 50px
