$line-color: #d0d7de
.search_container
    width: 100%
    display: flex
    justify-content: center
    .search_left_container

        width: 280px
        height: 700px
        padding-right: 30px
        padding-left: 15px
        .search_left_ul
            margin-top: 55px
            .search_left_li
                margin: 7px 0px
                padding: 0px 5px
            .search_left_span
                width: 100%
                padding: 6px 5px
                border-radius: 5px
            .search_left_li1
                border-left: 4.5px solid var(--li1)
                .search_left_span1
                    background: var(--span1)
            .search_left_li2
                border-left: 4.5px solid var(--li2)
                .search_left_span2
                    background: var(--span2)
            .search_left_li3
                border-left: 4.5px solid var(--li3)
                .search_left_span3
                    background: var(--span3)
    .search_right_container

        max-width: 800px
        width: 100%
        padding: 55px 15px

        .con_container
            width: 100%
            min-height: 900px

            .repo_div
                width: 100%
                border-top: 1px solid $line-color
                padding: 20px 20px
                display: block
                &:hover
                    background-color: rgb(246, 248, 250,0.6 )
                .repo_name_div
                    width: 100%

                    .repo_name
                        font-family: 'Noto Sans KR', sans-serif
                        font-size: 16px
                    .repository_public
                        display: inline
                        border-radius: 11px
                        padding: 1px 7px 4px 7px
                        font-size: 13px
                        margin-left: 5px
                        border: 1px solid $line-color

                .repo_description_div
                    margin-top: 8px
                    width: 100%
                    font-size: 16px
                    max-height: 50px
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap
                .repo_info_div
                    font-size: 14px
                    margin-top: 10px
                    span
                        margin-right: 13px
                    .repo_star_div
                        display: inline
                    .repo_date_div
                        display: inline
.page_div
    border-top: 1px solid $line-color
    width: 100%
    text-align: center

    .pagination
        margin: 24px auto

    .pagination li
        display: inline
    .page-item a:hover
        background: #E4DBD6
    .page-item a
        min-width: 32px
        padding: 2px 7px 3px 7px
        text-align: center
        margin: 0 3px
        border-radius: 8px
        border: 1px solid $line-color
        color: #666
        display: inline
        color: #666
        text-decoration: none

    .pagination li.active

        color: #4f6c9c

    .pagination li.active a
        background-color: pink
        color: #4f6c9c
.pink_back
    background-color: #f2e3e5
.member_container
    width: 100%
    min-height: 700px

    .member_div
        width: 100%
        max-width: 800px
        border-top: 1px solid $line-color
        display: block
        padding: 20px
        display: flex
        justify-content: center
        align-items: center
        &:hover
            background-color: rgb(246, 248, 250,0.6 )

        .member_div_top

            width: 100%
            padding: 2px
            .member_img
                width: 35px
                height: 35px
                border-radius: 9px
            .nick
                font-size: 16px
                font-family: 'Noto Sans KR', sans-serif
                display: block
                margin: -31px 0 10px 45px

        .member_div_mid

            width: 100%
            padding: 2px

.member_div_mid_span

    font-size: 14px
    margin-right: 13px
.member_con
    font-size: 14px
    margin-top: 8px
.follow_div
    width: 150px
    text-align: center

.follow
