$profile_bar_left_with : 300px

.profile_container
    width: 100%
    max-width: 1300px
    padding: 0 24px
    margin: 0 auto
    margin-top: 32px
    border: 1px solid yellow
   
    .profile_bar_top
        border: 1px solid red
        width: 100%
        height: 48px

    .profile_bar_left     
        border: 1px solid blue
        width: $profile_bar_left_with
        height: 500px
        float: left

    #main_div
            float: left
            height: 100px
            width: calc(100% - $profile_bar_left_with)
            border: 1px solid black
            min-width: 300px



        