.create_reposiroty_contanier

    width: 100%

.create_repository_div

    max-width: 690px
    width: 100%
    margin: auto

.btn_summary
    color: #24292f
    border-color: rgb(27 31 36 / 15%)
    border-radius: 6px

.create_message

    font-weight: bold
    font-size: 20px
    margin-bottom: 4px
    margin-top: 50px
    padding: 0 20px

.create_message_margin
    border-bottom: 1px solid #d0d7de
.create_message_sub
    font-size: 11px
    color: #57606a

    margin-left: 20px
    height: 30px

.user_name_repo_name

    height: 25px
    display: flex
    align-items: center
    margin-top: 55px
    width: 100%
    padding: 0px 20px
    font-size: 17px
    justify-content: center

.user_nickname
    margin-top: 10px
    height: 90px

    vertical-align: middle
    width: auto

.Owner_font
    font-weight: bold
    font-size: 15px
.user_nick_input
    margin-top: 9px
    border-radius: 6px
    padding: 3px 3px

.user_name_repo_name_span
    width: 25px
    text-align: center
    margin-top: -6px
    margin-left: 5px
.repo_name
    margin-top: 9px
    height: 90px
    width: 100%
    vertical-align: middle

.Repository_name
    font-weight: bold
    font-size: 15px
.repo_name_input
    margin-top: 6px
    border: 1px solid #d0d7de
    border-radius: 6px
    padding: 3px 3px 6px 3px
    width: 100%
    margin-left: 5px

.repo_intro
    margin-top: 7px
    margin-left: 25px
    font-size: 11px
    color: #57606a

.repo_description
    margin: 20px 0px 10px 0px
    width: 100%

    padding: 0 20px
    border-bottom: 1px solid #d0d7de
    padding-bottom: 20px
.description
    width: 100%
    border: 1px solid #d0d7de
    border-radius: 6px
    margin-top: 10px
    padding: 1px 3px
    margin: 10px 5px
    resize: none
    height: 100px
    padding: 4px 5px

.Description_font
    font-weight: bold
    font-size: 15px

.optional_font
    font-size: 8px
    color: #57606a

.repo_check
    width: 100%
    border-bottom: 1px solid #d0d7de
    font-weight: bold
    font-size: 15px

.public_check_input
    margin-right: 5px

.public_check
    width: 100%
    padding: 20px 25px 15px 25px
    margin-bottom: 10px
.public_sub
    font-size: 16px
    font-weight: 100

.private_check
    width: 100%
    padding: 0 25px
    margin-bottom: 25px
.private_check_input

    margin-right: 5px
.private_sub
    font-size: 16px
    font-weight: 100

.btn_primary_btn
    margin-left: 25px
    margin-bottom: 15px
    border-radius: 7px
    background-color: #2da44e
    border: 1px solid #2da44e
    color: white
    height: 30px
    font-size: 16px
    padding: 6px 14px 25px 14px

.repo_create_info

    margin: 3px 15px 5px 8px
    padding: 15px 15px
.intro_check
    color: var(--intro_color)
