.repository_history_container
    width: 100%
    .repository_history_div
        border: 1px solid black
        max-width: 1200px
        width: 100%
        margin: auto
        min-height: 700px
        display: flex
        justify-content: center
        .repository_history_left
            border: 1px solid red
            width: 100%
            .repository_history_table
                width: 100%
                border: 1px solid red
            td
                border: 1px solid black
        .repository_history_right
            border: 1px solid blue
            width: 350px
