$line-color: #d0d7de
.repository_history_container
    width: 100%
    .repository_history_div
        max-width: 1200px
        width: 100%
        margin: auto
        min-height: 700px
        display: flex
        justify-content: center
        .repository_history_left
            width: 100%

            .repository_history_table_div
                margin-top: 20px
                border: 1px solid $line-color
                border-radius: 0 0 10px 10px
                .repository_history_table
                    width: 100%
                    border-style: hidden
                th
                    padding: 2px 0
                    background: #f6f8fa
                tr

        .repository_history_right
            width: 350px
