$line-color: #d0d7de
.repository_history_container
    width: 100%

    .repository_history_div
        max-width: 1200px
        width: 100%
        margin: auto
        padding-top: 28px
        display: flex
        justify-content: center

        .repository_history_left
            width: 100%
            padding-right: 0px
            .repository_history_head
                height: 38px
                width: 100%
                .repository_history_tit
                    float: left
                .branch_select_btn
                    border-radius: 4px
                    border: 1px solid $line-color
                    font-size: 18px
                    float: right
                    margin-right: 20px
                    padding: 1px 6px
.repository_history_table_div
    height: 800px
    padding-right: 10px

    .repository_history_table
        width: 100%
        font-size: 16px
        border-radius: 6px

        border: 1px solid $line-color

    .repo_history_div
        width: 100%
        height: 72px
        display: flex
        justify-content: center
        .repo_history_con
            width: 100%
            height: 100%
            cursor: pointer
            &:hover
                background: rgb(246, 248, 250,0.5 )
            .history_message
                width: 100%
                text-size: 15px
                padding: 12px 10px 10px 13px
            .history_date
                float: left
                margin-left: 10px
            .history_nick
                float: left
                margin-left: 13px
            .history_token
                float: left
                margin-left: 10px
        .repo_history_btn
            width: 30px
            cursor: pointer
            background: #f6f8fa
            border-top-right-radius: 6px
            border-bottom-right-radius: 6px
            display: flex
            flex-direction: column
            justify-content: center
            border-left: 1px solid $line-color
            align-items: center
            &:hover
                background: rgb(246, 248, 250,0.5 )
            .repo_history_btn_txt
                font-size: 12px

    .history_info_div
        width: 100%
        height: 120px

        display: flex
        justify-content: center
        padding: 10px 8px 5px 8px

        .history_info_left
            width: 50%
            height: 100%
            border-right: 1px solid $line-color
            padding: 10px 3px
            font-size: 13px
        .history_info_right
            width: 50%
            height: 100%

.repository_history_right
    width: 580px
    padding: 0px 2px
    padding-left: 5px
    .history_right
        margin-top: 15px
        .repo_history_div

            .repo_history_con

                &:hover
                    background: white

            .repo_history_btn
                display: none

        .history_info_div
            .history_info_left
            .history_info_right

.fa-check,  .fa-arrow-right
    color: #fa5a5a
.fa-circle-check
    color: #fa5a5a
    margin-right: 5px
