$line-color: #d0d7de
.repository_container
    width: 100%
    .repository_top_container
        height: 110px
        width: 100%
        padding-top: 16px
        background: #f6f8fa
        border-bottom: 1px solid $line-color
        .repository_top_div
            height: 35px
            width: 97%
            margin: auto
            .repository_name_div
                font-weight: 400
                font-size: 18px
                height: 100%
                vertical-align: middle
                padding-top: 2px
                float: left

                .repository_nick
                    margin-right: 8px
                    color: #4f6c9c
                    font-family: 'Noto Sans KR', sans-serif
                .repository_name
                    margin-left: 5px
                    color: #4f6c9c
                    font-family: 'Noto Sans KR', sans-serif
                .repository_public
                    padding: 1px 4px
                    border: 1px solid black
                    border-radius: 8px
                    font-size: 13px
                    display: inline
                    margin-left: 3px
            .repository_btn_div
                text-align: right
                float: right
                height: 100%
                margin-right: 15px
                .repository_btn
                    margin-top: 3px
                    margin-right: 8px
                    background: #f6f8fa
                    border-radius: 5px
                    border: 1px solid $line-color
                    padding: 3px 6px

        .repository_tab_div
            height: 40px
            width: 97%
            margin: auto
            margin-top: 19px
            font-size: 17px
            padding-top: 11px
            .repository_tab
                margin: 0 8px
                padding: 0 5px 4px 5px
            .repository_tab1
                border-bottom: var(--tab1_color) solid pink
            .repository_tab2
                border-bottom: var(--tab2_color) solid pink
            .repository_tab3
                border-bottom: var(--tab3_color) solid pink
            .repository_tab4
                border-bottom: var(--tab4_color) solid pink
            .repository_tab5
                border-bottom: var(--tab5_color) solid pink

    .repository_content_container
        min-height: 500px
        width: 100%
