.flex
    width: 100%
    display: flex
    justify-content: center
    background-color: white
    padding: 120px
    background-color: #f4f5f7
.back
    width: 100%
    height: 250px
    background-color: black
    opacity: 0.4
.gifimg
    position: absolute
    border: 1px solid black
.download_templeate
    width: 100%
    .download_container1

        background-color: #f4f5f7
        height: 500px
        width: 100%
        display: flex
        justify-content: center
        align-items: center

        .download_container1_left
            width: 420px
            height: 270px

            .typing
                margin-bottom: 25px
                height: 100px
            .btn_download_ggitsource
                margin: 8px auto
                border-radius: 8px
                background-color: #2da44e
                border: 1px solid #2da44e
                color: white
                font-size: 19px
                padding: 8px 8px 10px 8px
                text-align: center
                width: 170px
                margin-right: 20px

        .download_container1_right
            height: 290px
            padding-left: 80px
            .img1
                width: 320px
