///// gsap scrolltrigger ///////
$main_heght: 7500px //메인 div 크기 여기서 설정 -그 크기 만큼 footer가 내려감

.footer_container
  margin-top: $main_heght+100px
.div_test1
  text-align: center
  //border: 1px solid red
  font-family: 'nanumsquare'
  color: black
  text-align: center
  font-size: 100px
  margin-top: 1300px
  margin-bottom: 300px

.div_test2
  text-align: center
  //border: 1px solid red
  font-family: 'nanumsquare'
  color: black
  text-align: center
  font-size: 100px
  margin-bottom: 300px

.div_test3
  text-align: center
  //border: 1px solid red
  font-family: 'nanumsquare'
  color: black
  text-align: center
  font-size: 100px
  margin-bottom: 300px

.div_test4
  text-align: center
  //border: 1px solid red
  font-family: 'nanumsquare'
  color: black
  text-align: center
  font-size: 100px

.div_test5
  text-align: center
  //border: 1px solid red
  font-family: 'nanumsquare'
  color: black
  text-align: center
  font-size: 100px

.div_test6
  text-align: center
  //border: 1px solid red
  font-family: 'nanumsquare'
  color: black
  text-align: center
  font-size: 100px
.ttt
  height: $main_heght

////// gsap scrolltrigger ///////

// #main_title
//   border: 1px solid red

//   width: 15%
  
//   line-height: 1.25
//   margin-top: 100px
//   margin-right: 3%
//   margin-bottom: 30px
//   margin-left: 30%
//   float: left

#title
  border: 1px solid red

  width: 15%

  margin-top: 100px
  margin-right: 3%
  margin-bottom: 30px
  margin-left: 30%
  float: left
#sub
  border : 1px solid red

  font-size: px
  float : left
  height : 50px
  width : 500px

#signupForm
  border: 1px solid blue
  display: block
  width: 500px

  margin-top: 100px
  margin-right: 10%
  margin-bottom: 30px
  margin-left: 10%
  float: left

.input

    width : 400px
    height: 40px
.background
  border: 1px solid black
  width: 100%
  height: 800px

.btn
  height: 34px
  background: #eee linear-gradient(to bottom,#fcfcfc,#eee)
  border: 1px solid #0f0f0f
  border-radius: 4px
  display: inline-flex
  align-items: center
  padding: 0 12px
  font-size: 14px
  font-weight: 500
  line-height: 1.5
  cursor: pointer
  box-sizing: border-box
  position: relative



.btn--primary
  width: 300px
  height: 40px
  border: 1px solid #65b836
  color: #fff
  background: #55a532 linear-gradient(#91dd70,#55ae2e)

  